legend {
  font-weight: 600;
  font-size: 1.75em;
  margin-bottom: 12px;
}

fieldset {
  border-width: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

label + label {
  margin-top: 8px;
}

button {
  font-size: 1.2em !important;
  background-color: #227bb5 !important;
  background-image: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  color: white !important;
  border-width: 0 !important;
}

.save-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
